@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/css/site.css" />
<style>
    input[type="text"]:focus {
        width: 300px;
        background-color: white;
    }
</style>

<div class="text-center">
    <h1 class="display-4">EPIC STORE</h1>
    <p>Welcome to <span>EPIC STORE</span> </p>

</div>
