@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Games"]</h1>

<h1 class="tieude">LIÊN HỆ</h1>
<p>Gmail: <a href="mailto:minhquan22102002@gmail.com">minhquan22102002@gmail.com</a></p>
<p>Facebook: <a href="facebookto:https://www.facebook.com/Quenly0103"></a>